/* General Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Styling for the main container */
.container {
  width: 100%;
  max-width: 600px;
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form styling */
.form-container {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Ensures the input stretches to the container width */
}

button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #004494;
}

/* Webcam and preview styling */
video,
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

/* Error messages */
.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
